@font-face {
    font-family: "Arvo";
    src: url("/resources/Arvo-Regular.ttf");
}

html {
    font-family: Arvo;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

body, .content-section {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > *, .content-section > * {
    margin: 5px 0;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
}

fieldset {
    border-radius: 10px;
    border-width: 2px;
    border-color: #BFBFBF;
}

legend {
    font-size: 20px;
}

ul {
    align-self: flex-start;
}

p {
    align-self: flex-start;
}

.progression-button {
    align-self: flex-start;
    text-decoration: none;
    padding: 5px;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-radius: 10px;
    text-decoration: none;
    background-color: #E6E6E6;
    font-family: Arvo;
    font-size: 18px;
}

.progression-button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1) 0 0);
    cursor: pointer;
}

.inline-code {
    background-image: linear-gradient(rgba(0, 0, 0, .1) 0 0);
    font-family: monospace;
}

.block-code {
    background-image: linear-gradient(rgba(0, 0, 0, .1) 0 0);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    font-family: monospace;
}

.content-section {
    margin: 0;
    visibility: collapse;
}

.question {
    background-color: #E6E6E6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.question > h1 {
    font-size: 18px;
    font-weight: normal;
}

.question > .progression-button {
    background-color: #BFBFBF;
}

.question > .explanation {
    visibility: collapse;
    display: flex;
    flex-direction: column;
}

.question > .explanation > * {
    margin: 5px 0;
}

.question > .explanation::before {
    display: block;
    content: "Explanation";
    font-size: 20px;
}

.question > * {
    margin: 5px;
}

.question > .input {
    display: flex;
    flex-direction: column;
}

.answer {
    display: none;
}

.radio-button {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.radio-button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1) 0 0);
    cursor: pointer;
}

.radio-button > *:hover {
    cursor: pointer;
}

.radio-button > input {
    margin: 5px;
    padding: 5px;
}

.radio-button:has(input:checked)  {
    background-image: linear-gradient(rgba(0, 0, 0, .1) 0 0);
}

.question input[type=text] {
    font-size: 18px;
}

.question input[type=text]:focus {
    outline: none;
}